// config-fonts.scss 			./styles/mixins/
////////////////////////////////////////////////////////////



$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$pacifico: 'Pacifico', cursive;
