// home.component.scss            ~/app/core/routes/home
////////////////////////////////////////////////////////////



@import "../../../../styles/config";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

